<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Todo App</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a [routerLinkActive] = "['active']"  [routerLinkActiveOptions] = "{exact:true}" class="nav-item nav-link active" [routerLink]= "['/home2']">Home <span class="sr-only">(current)</span></a>
      <a *ngIf ="!_authService.loggedIn()"  [routerLinkActive] = "['active']"  [routerLinkActiveOptions] = "{exact:true}"  class="nav-item nav-link"  [routerLink] = "['/auth/login']" >Login</a>
      <a *ngIf = "!_authService.loggedIn()" [routerLinkActive] = "['active']"  [routerLinkActiveOptions] = "{exact:true}" class="nav-item nav-link" [routerLink] = "['/auth/signup']">Sign Up</a>
      <a *ngIf = "_authService.loggedIn()" [routerLinkActive] = "['active']"  [routerLinkActiveOptions] = "{exact:true}"  class="nav-item nav-link"  [routerLink] = "['/dashboard']" >Dashboard</a>
      <a *ngIf = "_authService.loggedIn()" [routerLinkActive] = "['active']"  [routerLinkActiveOptions] = "{exact:true}"  class="nav-item nav-link"  [routerLink] = "['/profile']" >Profile</a>

      
      <a *ngIf = "_authService.loggedIn()" class="nav-item nav-link" (click) = "onLogoutClick()" href = "#">Logout</a>
      </div>
  </div>
</nav>